<html>
    <head>
        <title>
            Shivahari
        </title>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="col-md-2 col-md-offset-5">
        <img class="img-circle" src="/static/shiva.jpg">
            </div>
        <br>
        <div class="col-md-10 col-md-offset-1 top-space">
        <h3 class="margin-base-vertical text-center">Shivahari Pitchaikkannu</h3>
        <p class="text-justify">I help engineer high quality software. I started out as a manual tester at Cognizant Technology Solutions where I worked on a healthcare project. I grew bored of highly scripted testing that required me to turn off my brain and blindly execute test cases from a document. I quit and decided to try freelancing as a trainer. I mentored aspiring engineers on employability skills for a while. I liked exploring applications as a hobby and was always on the lookout for better testing jobs. I found Qxf2 had a better balance of exploratory testing, scripted testing and automation and decided to join them. I like football and economics.
        </p>
        </div>
        </div>  
    </body>
</html>