<html>
    <head>
        <title>
            Shivahari
        </title>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/my-bio.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="col-md-2 col-md-offset-5">
        <img class="img-circle" src="/static/shiva.jpg">
            </div>
        <br>
        <div class="col-md-10 col-md-offset-1 top-space">
        <h3 class="margin-base-vertical text-center headline">Shivahari Pitchaikkannu</h3>
        <p class="text-justify">I help engineer high quality software. I started out as a manual tester at Cognizant Technology Solutions where I worked on a healthcare project. I grew bored of highly scripted testing that required me to turn off my brain and blindly execute test cases from a document. I quit and decided to try freelancing as a trainer. I mentored aspiring engineers on employability skills for a while. I liked exploring applications as a hobby and was always on the lookout for better testing jobs. I found Qxf2 had a better balance of exploratory testing, scripted testing and automation and decided to join them. I like football and economics.
        </p>

        <div class="row-fluid top-space-20">
            <h5><strong>Employment History:</strong></h5>
            <table name="employers" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a src="https://www.cognizant.com/">Cognizant</a></td>
                        <td>Programmer Analyst Trainee</td>
                        <td>2011-2012</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Freelance employability skills Trainer</td>
                        <td>2013-2015</td>
                    </tr>
                    <tr>
                            <td><a src="https://qxf2.com/">Qxf2</a> </td>
                            <td>Qa Engineer</td>
                            <td>2015-Present</td>
                    </tr>
                </tbody>

            </table>
        </div>
        </div>  
    </div>
    </body>
</html>