<html>
    <head>
        <title>
            Shivahari
        </title>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <h1>Under Construnction</h1>
    <body>
        <div class="container">
            <div class="row">
        <img class="img-circle" src="https://via.placeholder.com/250">
            </div>
        <br>
        <div class="row">
        Hi, I am Shivahari. My website is under construction.
        </div>
        </div>  
    </body>
</html>